<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Employees</title>
</head>
<body>
  <h1>Employees</h1>

  <ul>
    {{#each employees}}
      <li>
        <a href="/employee/{{this.employeeId}}">
          {{this.name}} ({{this.employeeId}})
        </a>
      </li>
    {{/each}}
  </ul>
</body>
</html>